.rating {
   width: 180px;
   margin-top: 5%;
}

.rating__star {
   cursor: pointer;
   color: #dabd18b2;
}

.reviewMasterDiv {
   border-radius: 1px;

}
.reviewCreateText {
   color: black;
   display: flex;
}
.reviewCreateTextArea {
   height: 10vh;
   width: 20vw;
   overflow: hidden;
   resize: none;
   color: black;
}
.reviewCreateSubmitButton {
   margin-top: 5%;
   color: black;
   height: 5vh;
   width: 7vw;
   cursor: pointer;
   border-radius: 5px;
}
