.newLocationFormDiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.newLocationForm{
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 10px;
    margin: 10%;
    width: 30%;
    height: 20%;
    padding: 5%;
}
.newLocationFormHeader {
    color: black;
    text-align: center;
}
.newLocationLabel{
    text-align: left;
    color: black;
}
.newLocationInput{
    color: black;
    height: 50px;
    width: 95%;
    margin: 3% 0 3% 0;
    border-radius: 10px;
}
.newLocationTextArea{
    color: black;
    height: 300px;
    width: 95%;
    margin: 3% 0 3% 0;
    resize: none;
    border-radius: 10px;
}
.newLocationButton{
    color: black;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}
.newLocationButton:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;

}
.newLocationUl {
    display: flex;
    flex-flow: column;
    list-style: none;

}

 .newLocationLi {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    margin: 1% 0;
}
