.footerMainDiv {
    background-color: whitesmoke;
    display: flex;
    position: relative;
    position: fixed;
    justify-content: space-around;
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    bottom: 0%;
    margin-top: 20%;
}

.footerMainDivOpen {
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20%;
    bottom: 0%;
}

.footerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerDivTech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.innerTechDiv {
    display: flex;

}
.footerFont {
    color: black;
}

.techLogo {
    height: 3rem;
    width: 3rem;
}

#moreInfoDiv {
    cursor: pointer;
}
