.mainLocationsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1c1e2d;
    height: 100%;
}

.eachLocationDiv {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-height: 60%;
    background-color: whitesmoke;
    border: 1px solid #ebebeb;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

.mainLocationsImage {
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}

.mainLocationsLinks {
    color: black;
    text-decoration: none;
}

.mainLocationsHeader {
    color: black;
    word-wrap: break-word;
    text-align: center;
}
.mainLocationsInfo {
    color: black;
    font-style: italic;
}
