/* TODO Add site wide styles */
body {
    height: 100%;
    margin: 0;
    background-color: #1c1e2d;
    position: relative;
}
html {
    height: 100%;
    margin: 0;

  }
* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
