/* .viewReviewsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
} */

.viewReviewsDiv{
    background-color: #1c1e2d;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px whitesmoke solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    height: 30vh;
    width: 45vw;
    box-sizing: border-box;
    justify-content: center;
    align-items: center
}
.noReviewPTag {
    color: black;
}
.viewReviewsDeleteButton {
    cursor: pointer;
    background-color: red;
    border: whitesmoke solid 1px;
    border-radius: 5px;

}
